@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/* HEADER */

header {
  border: 1px solid #d0d0d0;
  text-align: center;
}

header h1 {
  margin: 20px 0;
  text-transform: uppercase;
}

header nav {
  margin: 10px 0;
}

header nav a {
  color: #555;
  margin: 0  5px;
  text-decoration: none;
}

header nav a.active {
  color: #d87d7d;
  font-weight: 700;
}

/* MAIN */

main#about {
  margin: 50px 0;
  text-align: center;
}

main#about h2 {
  font-size: 24pt;
  margin: 10px 0;
}

main#about img {
  padding: 10px 0;
  width: 400px;
}

main#about p.author-text {
  color: #555;
  padding: 10px 0;
}

main#about p.quote-text {
  font-size: 16pt;
  font-weight: 700;
  padding: 10px 20px;
}

main#banner {
  background-image: url("../img/jane.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 77vh;
}

/* FOOTER */

footer {
  background-color: #f2f2f2;
}

footer p {
  color: #555;
  padding: 10px 0;
  text-align: center;
}